<html>
    <head>
        <title>Dashboard</title>
        <script type="application/javascript" src="../scripts/jquery.min.js"></script>
        <script type="application/javascript" src="../scripts/query.js">
        </script>
    </head>
    <body>
        <form action="javascript:void(0)">
            Arguments: <input type="text" id='input' name="fname" />
            <button onclick='getOutput()'>Start</button>
            <br/>
            <br/>
            Output:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <textarea id="output" rows="10" cols="50">

                   </textarea>
        </form>
    </body>
</html>